<h1> Notes for <%- classData %></h1>

<div class="jobContainer">
    <ul class="noteList">
        <% data.forEach(response => { %>
            <li class="selection"><%= response.dataValues.content %>
            <form action="/jobData?_method=DELETE" method="POST">
                <input type="text" class="class" name='className' value=<%= classData %>>
                <input type="submit" value="Delete Note">
                <input type="integer" class="char" value=<%= data[0].dataValues.characterId %> name='characterId'>
                <input type="integer" class="jobID" value=<%= data[0].dataValues.jobId %> name='jobId'>
                <input type="integer" class="noteID" value=<%= response.dataValues.id %> name='noteId'>
            </form>
            <form action='/jobData/edit/' method='GET'>
                <input type="submit" value="update Note">
                <input type="integer" class="char" value=<%= data[0].dataValues.characterId %> name='characterId'>
                <input type="integer" class="jobID" value=<%= data[0].dataValues.jobId %> name='jobId'>
                <input type="integer" class="noteID" value=<%= response.dataValues.id %> name='noteId'>
            </form>
            </li>
        <% }) %>
    </ul>     
</div>

<form action="/addNote" method="POST">
    <input type="text" class="writeNote" name="noteField">
    <input type="submit" value="Add Note">
    <input type="text" class="class" name='className' value=<%= classData %>>
    <input type="integer" class="char" value=<%= data[0].dataValues.characterId %> name='characterId'>
    <input type="integer" class="jobID" value=<%= data[0].dataValues.jobId %> name='jobId'>
</form>